.container {
  margin: 12rem auto 8rem;
  width: 90%;
}

.heading {
  font-size: 3rem;
  text-align: center;
}

.partners {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
